<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mention Humanités Numériques : trombinoscope de la promotion 2020 - 2021</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="js/dimple.v2.3.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" crossorigin="anonymous"></script>        
        <script src="js/opml.js" ></script>
        <script src="js/dataStudent.js"></script>
	</head>

    <body>

        <div class="jumbotron mb-0" style="background-color:#A5DF00 !important">
            <h1 class="display-3">Étudiants</h1>
            <h2>Promotion 2020 - 2021</h2>  
        </div>
        <h5 class="container">Item étudiant</h5>
        <div id="studentItem"></div>
        
        <h5 class="container">Items étudiant</h5>
        <div id="studentItems"></div>

        <script>
            
            let studentItems = new dataStudent({
                cont: "#studentItems",
                //apiUrl: "../data/items.json"
                apiUrl: "https://jardindesconnaissances.univ-paris8.fr/THYP/20-21/g2/omk/api/items?item_set_id=28"
            })

            studentItems.getData();


            let cardStudentItem = new dataStudent({
                cont: "#studentItem",
                //apiUrl: "../data/item.json"
                apiUrl: "https://jardindesconnaissances.univ-paris8.fr/THYP/20-21/g2/omk/api/items/32"
            })

            cardStudentItem.getData();
        </script>
    </body>
</html>
